body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

.App h1 {
  margin: 30px auto ;
  text-align: center;
}

/* HEADER */
.header {
  background: #6bd19a;
  color: white;
  padding: 30px 10px 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header p {
  text-align: center;
}

.hiddenAddIcon {
  color: #6bd19a; 
}

/* .header icon:hover {
  color: darkgrey;
  cursor: pointer;
} */


/* MOVING CHECKLIST */
.items-counter {
  padding: 2px 10px;
  color: white;
  background-color: lightgrey;
}
.moving-list ul {
  margin: 10px;
  padding: 0;
}

.item-div {
  display: flex;
  align-items: center;
}

.item-div p:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.moving-list .checkbox {
  margin-right: 15px;
}


.moving-list .forward-arrow {
  margin-left: auto;
}

.moving-list .forward-arrow:hover {
  color: #6bd19a;
  cursor: pointer;
}



/* ITEM DETAIL */
.item-detail {
  text-align:center;
}

.item-detail p {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bolder;
}

.status-section {
  background: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

.item-detail button {
  background-color:#6bd19a;
  opacity:0.8;  
  color: grey;
}

.item-detail button:hover {
  background-color:#6bd19a;
  color: white;

}

/* NEW ITEM FORM */
.new-form, .update-form {
  width: 50%;
  margin: 20px auto;
}

.new-form form, .update-form form {
  display:flex;
  flex-direction: column;
}


#new-item-btn, #update-item-btn {
  margin-top: 30px;
  background-color:#6bd19a;
  color: white;
}

#new-item-btn:hover, #update-btn-item:hover {
  opacity: 0.8;
  color: grey;
}